---
const res = await fetch ('https://restcountries.com/v3.1/all?fields=name,capital,region,flag,subregion,altSpellings');
const countries = await res.json();
---

<!-- {countries.map(country => console.log(country))} -->

<div class="px-6 sm:px-8 lg:px-12 xl:px-24 2xl:px-32 py-4">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">Countries</h1>
      <p class="mt-2 text-sm text-gray-700">A list of all countries included in the 
        <a href="https://restcountries.com/#rest-countries" target="_blank" rel="noreferrer" class="text-indigo-600 underline">REST Countries API</a>.
      </p>
    </div>
    <div class="mt-4 inline-flex sm:mt-6 sm:ml-16 sm:flex-none">
      <div class="relative mr-3 rounded-md border border-gray-300 px-3 py-2 shadow-sm">
        <label for="name" class="absolute -top-2 left-2 -mt-px inline-block bg-white px-1 text-xs font-medium text-gray-900">
          Search
        </label>
        <input type="text" name="name" id="name" class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm" placeholder="Name or Region">
      </div>
      <button type="button" class="inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto">
        Search
      </button>
    </div>
  </div>
  <div class="-mx-4 mt-8 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:-mx-6 md:mx-0 md:rounded-lg">
    <table class="min-w-full divide-y divide-gray-300">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Name</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Region</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Subregion</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Capital</th>
          <th scope="col" class="relative sm:mr-0 py-3.5 pl-3 pr-4 sm:pr-6">
            <span class="sr-only">Learn More</span>
          </th>
        </tr>
      </thead>
          {countries.map(country => (
          <tbody class="divide-y divide-gray-200 bg-white">
            <tr class="hover:bg-gray-100 hover:cursor-pointer" onclick="window.location='#';">
                <td class="whitespace-normal py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                  <span>{country.flag}</span>
                  {country.name.common}
                  <span>({country.altSpellings[0]})</span>
                </td>
                <td class="hidden whitespace-nowrap  px-3 py-4 text-sm text-gray-500 sm:table-cell">{country.region}</td>
                <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 lg:table-cell">{country.subregion}</td>
                <td class="hidden whitespace-nowrap px-3 py-4 text-sm text-gray-500 lg:table-cell">{country.capital}</td>
                <td class="whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                  <a href="#" class="-ml-16 sm:-ml-0 text-indigo-600 hover:text-indigo-900">
                    Learn More
                  </a>
                </td>
              </tr>
          </tbody>
        ))}
      </table>
    </div>
</div>